.wrapperContent {
    display: flex;
    height: calc(100vh - var(--header-height));

    aside {
        width: 100%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        background-color: var(--bg-color-task);
        padding: 20px;
        overflow-y: scroll;
    }

    main {
        padding: 20px;
        h1 {
            font-size: 26px;
            margin-bottom: 20px;
        }
    }
}