.wrapper {
    > button {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
    }
}

.wrapperBoards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}